<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>weeklyorderschedule</name>
	<displayName><![CDATA[Weekly order schedule]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[Disable ordering on specific weekdays by removing all carrier options]]></description>
	<author><![CDATA[dewwwe]]></author>
	<tab><![CDATA[checkout]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
